<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        these is <%=data.name %>
    </h1>
    <h1>Followers <%=data.followers  %></h1>
    <h1><%=data.following  %></h1>
    <hr>
    <% for(let post of data.posts){%>
       <img src=<%=post.image%>/>
       <p>
        liskes=<%=post.likes%>
        comments=<%=post.comments%>
        </p>



   <% } %>
</body>
</html>